.recipe-add-button {
    height: 54px;
    font-size: 1rem;
    color: #333333;

    background-color: white;

    padding: 0 3rem;

    border-radius: 2em;
    border: 0;

    box-shadow: 0 4px 10px rgb(0 0 0 / 12%), 0 0 1px rgb(0 0 0 / 5%) inset;
    transition: color 200ms ease-in-out;
}

.recipe-add-button:hover {
    color: #66bf3c;
    cursor: pointer;
}