.results {
    font-size: 0;
}
.results-content {
    transform: scale(0.5);
    display: inline-block;
    background: url('https://i.stack.imgur.com/rwkqF.png') 0 0 repeat-x;
    width: 185px;
    height: 35px;

}
.results .results-content span.stars span {
    background: url('https://i.stack.imgur.com/rwkqF.png') 0 -35px repeat-x;
    display: inline-block;
    height: 35px;
}